@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// app global css in SCSS form
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.q-page {
    background-color: #efefef
}

